@font-face {
    font-family: "bonanova";
    src: url(../global/fonts/BonaNovaSC-Regular.ttf);
}

@font-face {
    font-family: "proximanova";
    src: url(../global/fonts/proximanova-regular.otf);
}